body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;

  padding: 2rem;
  margin: 0;
}

main {
  height: 200vh;
  position: relative;
}

h1 {
  text-align: center;
}

#student-form-section {
  display: flex;
  justify-content: center;
}

#student-form {
  width: 1000px;

  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.form-row {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.form-fields {
  width: 100%;
  flex-grow: 1;
  min-width: 0;
}

.form-fields input,
.form-fields select,
.form-fields textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(143, 143, 143);

  box-sizing: border-box;
  height: 44px;
}

.form-fields textarea {
  height: 100px;
  resize: none;
}

#form-buttons {
  display: flex;
  gap: 1rem;
}

#form-button {
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  cursor: pointer;
}

.error-message-validation,
.valid-message-validation {
  margin-top: 0.3rem;
  font-size: 1rem;
}

.error-message-validation {
  color: red;
}

.valid-message-validation {
  color: green;
}

#arrow-return-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

#arrow-return {
  background-color: white;
  border: 0;
  cursor: pointer;
  min-height: 50px;
  min-width: 50px;
}
